<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itce.informants2">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:backupAgent="com.itce.informants2.helper.BackupRestore"
        android:fullBackupContent="true"
        android:icon="@drawable/informants_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.itce.informants2.products.ListProductActivityUc"
            android:label="Products"
            android:parentActivityName="com.itce.informants2.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itce.informants2.MainActivity" />

        </activity>


        <activity android:name="com.itce.informants2.PopUpWindow" />
        <activity
            android:name="com.itce.informants2.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itce.informants2.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.itce.informants2.SettingsActivity"
            android:label="@string/title_activity_settings_base"
            android:parentActivityName="com.itce.informants2.profiles.ListProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itce.informants2.AboutActivity"
            android:label="About Informants ..."
            android:parentActivityName="com.itce.informants2.profiles.ListProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDEz7BmFyiGpB3BMl4h-13ogo_TjfTbMHw" />

            Android Backup Service Key

            AEdPqrEAAAAIslN7ieiLcGYvsOx_dziiovXeZh7L4VSNuJtd9g
            Questo codice è valido per l'app con nome del pacchetto:

            com.d.informants
            Riporta questo codice nel tuo file AndroidManifest.xml con il seguente elemento <meta-data>, inserito all'interno dell'elemento <application>:

            <meta-data
                android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAIslN7ieiLcGYvsOx_dziiovXeZh7L4VSNuJtd9g" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEz7BmFyiGpB3BMl4h-13ogo_TjfTbMHw" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIslN7ieiLcGYvsOx_dziiovXeZh7L4VSNuJtd9g" />

        <activity
            android:name="com.itce.informants2.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.itce.informants2.profiles.ListProfileActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:parentActivityName="com.itce.informants2.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.itce.informants2.profiles.DetailProfileActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.itce.informants2.profiles.ListProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itce.informants2.profiles.ListProfileActivity" />
        </activity>
    </application>

</manifest>